body{
  background-color: white;
  font-family: times;
  margin: 0;
}
#header-img{
  max-width: 100%;
  width: 20%;
  height: auto;
}
header{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
}
nav{
    font-size:2vw;
    align-self: center;
    background-color: #590902;
    padding: 3.43%;
    max-width: 100%;
    width: 100%;
    height: auto;
    white-space: nowrap;
}
a{
  color: white;
  font-style: normal;
  text-decoration: none;
  padding-right: 30px;
}
.about-us-img{
  width: 20%;
  max-width: 100%;
  height:  auto;
}
main{
  margin: auto;
  padding-top: 12%;
  max-width: 60%;
}
.about-us{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2D8A7;
  border-radius: 15px;
  padding: 15px;
}
.about-us-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3vw;
  font-style: italic;
}
.about-us-item{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: auto;
}
.about-us-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  font-family: 'Trocchi', serif;
  font-size: 2vw;
  font-weight: normal;
  white-space: nowrap;
}
iframe{
  margin: 8% 0 8% 0;
}
#form{
  text-align: center;
}
#email{
  width: 40%;
}
#submit{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.pricing{

}
footer{
  background-color:#590902;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 1%;
  /* FIXME: center the footer text vertically and reduce the height */
}
#footer-bar{
}
.footer-nav{
  display: flex;
  flex-direction: row;
}
#copyright{
}
@media screen and (max-width: 767px) {
  main{
    max-width: 90%;
  }
  iframe{
    width: 300px;
    height: 200px;
  }
  body * {
   font-size: 4vw;
  }
  .about-us-p,footer {
    font-size: 2vw;
  }

}
